body{color:beige;background-color: black;font-size:large;font-family:Georgia, 'Times New Roman', Times, serif;} 
    h1{color:red;}
    h1{border: 1px solid white} 
    h2{color:blueviolet;background-color: bisque;width:fit-content;font-weight:bolder; font-style: italic;}
    p{border: 1px solid white}  
    a:link{color:red;}

    body{color:green;background-color:bisque;font-size:large;font-family: Georgia, 'Times New Roman', Times, serif;}
     h1{color:black;}
     h1{border: 1px solid green}
     p{border: 1px solid black;}
     h2{color:green;background-color:black;width:fit-content;font-weight:bolder;font-style:italic;}
     a:link{color: black;}

     Body{color:purple;font-size:large;font-family: Georgia, 'Times New Roman', Times, serif;}
     h1{color:purple;background-color: black;width: fit-content;font-weight: bolder;font-style: italic;}
     h2{color:purple;background-color: black;width: fit-content;font-weight: lighter;font-style: italic;}
     h1{border: 1px solid purple;}
     h2{border: 1px soliid purple;}
     p{border: 1px solid purple;}

     p.intro{font-style: italic;}
     ol li {
        margin-bottom: 0.2em;
    }
    div.flexible {  
        display:flex;  
    }

    @media (max-width: 768px) {.container {padding: 0 10px;}}

    .element 
    {width: 200px;height: 100px;background-color: white;}
    
    @media (orientation: landscape) 
    {.element {width: 300px;height: 150px;background-color: red;}}
    
    @media (orientation: portrait) 
    {.element {width: 200px;height: 100px;background-color: blue;}}